.input_numbers{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.number_button{
    margin:5px;
    width: 150px;
    height: 80px;
}

.result_button{
    width: 150px;
    height: 80px;

}